(or (not W11) S21)
(or (not W11) S12)
(or (not W12) S22)
(or (not W12) S11)
(or (not W12) S13)
(or (not W13) S23)
(or (not W13) S12)
(or (not W13) S14)
(or (not W14) S24)
(or (not W14) S13)
(or (not W21) S11)
(or (not W21) S31)
(or (not W21) S22)
(or (not W22) S12)
(or (not W22) S32)
(or (not W22) S21)
(or (not W22) S23)
(or (not W23) S13)
(or (not W23) S33)
(or (not W23) S22)
(or (not W23) S24)
(or (not W24) S14)
(or (not W24) S34)
(or (not W24) S23)
(or (not W31) S21)
(or (not W31) S41)
(or (not W31) S32)
(or (not W32) S22)
(or (not W32) S42)
(or (not W32) S31)
(or (not W32) S33)
(or (not W33) S23)
(or (not W33) S43)
(or (not W33) S32)
(or (not W33) S34)
(or (not W34) S24)
(or (not W34) S44)
(or (not W34) S33)
(or (not W41) S31)
(or (not W41) S42)
(or (not W42) S32)
(or (not W42) S41)
(or (not W42) S43)
(or (not W43) S33)
(or (not W43) S42)
(or (not W43) S44)
(or (not W44) S34)
(or (not W44) S43)
(or (not P11) B21)
(or (not P11) B12)
(or (not P12) B22)
(or (not P12) B11)
(or (not P12) B13)
(or (not P13) B23)
(or (not P13) B12)
(or (not P13) B14)
(or (not P14) B24)
(or (not P14) B13)
(or (not P21) B11)
(or (not P21) B31)
(or (not P21) B22)
(or (not P22) B12)
(or (not P22) B32)
(or (not P22) B21)
(or (not P22) B23)
(or (not P23) B13)
(or (not P23) B33)
(or (not P23) B22)
(or (not P23) B24)
(or (not P24) B14)
(or (not P24) B34)
(or (not P24) B23)
(or (not P31) B21)
(or (not P31) B41)
(or (not P31) B32)
(or (not P32) B22)
(or (not P32) B42)
(or (not P32) B31)
(or (not P32) B33)
(or (not P33) B23)
(or (not P33) B43)
(or (not P33) B32)
(or (not P33) B34)
(or (not P34) B24)
(or (not P34) B44)
(or (not P34) B33)
(or (not P41) B31)
(or (not P41) B42)
(or (not P42) B32)
(or (not P42) B41)
(or (not P42) B43)
(or (not P43) B33)
(or (not P43) B42)
(or (not P43) B44)
(or (not P44) B34)
(or (not P44) B43)
(or W11 P11 safe11)
(or W12 P12 safe12)
(or W13 P13 safe13)
(or W14 P14 safe14)
(or W21 P21 safe21)
(or W22 P22 safe22)
(or W23 P23 safe23)
(or W24 P24 safe24)
(or W31 P31 safe31)
(or W32 P32 safe32)
(or W33 P33 safe33)
(or W34 P34 safe34)
(or W41 P41 safe41)
(or W42 P42 safe42)
(or W43 P43 safe43)
(or W44 P44 safe44)

(or (not W11) (not W12))
(or (not W11) (not W13))
(or (not W11) (not W14))
(or (not W11) (not W21))
(or (not W11) (not W22))
(or (not W11) (not W23))
(or (not W11) (not W24))
(or (not W11) (not W31))
(or (not W11) (not W32))
(or (not W11) (not W33))
(or (not W11) (not W34))
(or (not W11) (not W41))
(or (not W11) (not W42))
(or (not W11) (not W43))
(or (not W11) (not W44))
(or (not W12) (not W13))
(or (not W12) (not W14))
(or (not W12) (not W22))
(or (not W12) (not W23))
(or (not W12) (not W24))
(or (not W12) (not W32))
(or (not W12) (not W33))
(or (not W12) (not W34))
(or (not W12) (not W42))
(or (not W12) (not W43))
(or (not W12) (not W44))
(or (not W13) (not W14))
(or (not W13) (not W23))
(or (not W13) (not W24))
(or (not W13) (not W33))
(or (not W13) (not W34))
(or (not W13) (not W43))
(or (not W13) (not W44))
(or (not W14) (not W24))
(or (not W14) (not W34))
(or (not W14) (not W44))
(or (not W21) (not W22))
(or (not W21) (not W23))
(or (not W21) (not W24))
(or (not W21) (not W31))
(or (not W21) (not W32))
(or (not W21) (not W33))
(or (not W21) (not W34))
(or (not W21) (not W41))
(or (not W21) (not W42))
(or (not W21) (not W43))
(or (not W21) (not W44))
(or (not W22) (not W23))
(or (not W22) (not W24))
(or (not W22) (not W32))
(or (not W22) (not W33))
(or (not W22) (not W34))
(or (not W22) (not W42))
(or (not W22) (not W43))
(or (not W22) (not W44))
(or (not W23) (not W24))
(or (not W23) (not W33))
(or (not W23) (not W34))
(or (not W23) (not W43))
(or (not W23) (not W44))
(or (not W24) (not W34))
(or (not W24) (not W44))
(or (not W31) (not W32))
(or (not W31) (not W33))
(or (not W31) (not W34))
(or (not W31) (not W41))
(or (not W31) (not W42))
(or (not W31) (not W43))
(or (not W31) (not W44))
(or (not W32) (not W33))
(or (not W32) (not W34))
(or (not W32) (not W42))
(or (not W32) (not W43))
(or (not W32) (not W44))
(or (not W33) (not W34))
(or (not W33) (not W43))
(or (not W33) (not W44))
(or (not W34) (not W44))
(or (not W41) (not W42))
(or (not W41) (not W43))
(or (not W41) (not W44))
(or (not W42) (not W43))
(or (not W42) (not W44))
(or (not W43) (not W44))

(or (not B11) P21 P12)
(or (not B12) P22 P13 P11)
(or (not B13) P23 P14 P12)
(or (not B14) P24 P13)
(or (not B21) P31 P11 P22)
(or (not B22) P32 P12 P23 P21)
(or (not B23) P33 P13 P24 P22)
(or (not B24) P34 P14 P23)
(or (not B31) P41 P21 P32)
(or (not B32) P42 P22 P33 P31)
(or (not B33) P43 P23 P34 P32)
(or (not B34) P44 P24 P33)
(or (not B41) P31 P42)
(or (not B42) P32 P43 P41)
(or (not B43) P33 P44 P42)
(or (not B44) P34 P43)

(or (not S11) W21 W12)
(or (not S12) W22 W13 W11)
(or (not S13) W23 W14 W12)
(or (not S14) W24 W13)
(or (not S21) W31 W11 W22)
(or (not S22) W32 W12 W23 W21)
(or (not S23) W33 W13 W24 W22)
(or (not S24) W34 W14 W23)
(or (not S31) W41 W21 W32)
(or (not S32) W42 W22 W33 W31)
(or (not S33) W43 W23 W34 W32)
(or (not S34) W44 W24 W33)
(or (not S41) W31 W42)
(or (not S42) W32 W43 W41)
(or (not S43) W33 W44 W42)
(or (not S44) W34 W43)

(or (not P14))
(or (not B14))
(or (not S14))
(or (not W14))
(or safe14)

(or (not P13))
(or B13)
(or (not S13))
(or (not W13))
(or safe13)

(or (not P12))
(or (not B12))
(or (not S12))
(or (not W12))
(or safe12)

(or (not P24))
(or B24)
(or (not S24))
(or (not W24))
(or safe24)

(or (not P22))
(or B22)
(or (not S22))
(or (not W22))
(or safe22)

(or (not P34))
(or (not B34))
(or S34)
(or (not W34))
(or safe34)

(or (not P32))
(or (not B32))
(or S32)
(or (not W32))
(or safe32)

(or (not P44))
(or (not B44))
(or (not S44))
(or (not W44))
(or safe44)

(or (not P42))
(or B42)
(or (not S42))
(or (not W42))
(or safe42)